<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>INIntentsSupported</key>
    <array>
        <string>Intent</string>
    </array>

    <!-- Povolení nezabezpečených HTTP požadavků. -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
    <!-- Oprávnění pro HealthKit -->
    <key>NSHealthShareUsageDescription</key>
    <string>Aplikace potřebuje přístup k HealthKit pro přesné měření vzdálenosti</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Aplikace potřebuje zapisovat data do HealthKit</string>
</dict>
</plist>
